.card{
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  .card-header{
    text-align: center;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .invalid-user {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
  }
}
