// @import "~assets/styles/scrollbar";
// @extend .scrollbar;
.box{
  padding: 16px;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  .box-body{
    padding: 16px;
    .search-box{
      margin: 20px 0;
    }
    .avatar{
      max-width: 30px;
    }
  }
}

:host ::ng-deep {
  .user-modal-box .ui-dialog{
    width: 90%;
    max-width: 1100px;
    .ui-dialog-content{
      background-color: #e2e8f0 !important;
    }
    .ui-table-scrollable-header-box{
      margin-right: 9px !important;
    }
    .ui-table-scrollable-body {
      &::-webkit-scrollbar {
        width: 9px;
        height: 9px  !important;
        -webkit-appearance: none;
        -webkit-overflow-scrolling: auto;
        display: block;
      }

      &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        -webkit-border-radius: 3px !important;
        background-color: #E0E6FA;
      }

      &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: #3B404F;
        // border: 5px solid transparent;
        // min-height: 50px;
      }
      &::-webkit-scrollbar-thumb:window-inactive {
        background: #41617D !important;
      }
    }
  }
}

