
<div class="box">
  <div class="box-body">
    <div class="search-box">
      <app-search (userDetailEmit)="getUserDetails($event)"></app-search>
    </div>

    <p-table [value]="usersList"
             [scrollable]="true"
             scrollHeight="200px"
             [style]="{maxWidth: '700px'}"
             [lazy]="true"
             [loading]="loading$ | async"
             [resizableColumns]="true"
             styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th width="70">ID</th>
          <th width="70">Avatar</th>
          <th>Login</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr (click)="getUserDetails(user.login)">
          <td width="70">{{user.id}}</td>
          <td width="70" style="text-align: center;"><img [src]="user.avatar_url" class="avatar"/></td>
          <td>{{user.login}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="userDetails$ | async">
    <p-dialog [(visible)]="userDetailsModal" class="user-modal-box" [style]="{}" header="{{(userDetails$ | async).user.login}} Details" (onHide)="onCloseModal()" [modal]="true">
      <app-user-modal [userDetails]="(userDetails$ | async)"></app-user-modal>
    </p-dialog>
  </div>

</div>
